---
import logoSvg from "@/assets/logo.svg";
import type { Cover } from "@/types/Event";
import Picture from "./Picture.astro";
import TextCard from "./TextCard.astro";

interface Props {
  cover?: Cover;
  title: string;
  link?: string;
}

const { cover, title, link } = Astro.props;
---

<TextCard title={title} link={link}>
  {
    cover ? (
      <Picture
        slot="top"
        class="cover"
        src={cover.src}
        objectPosition={cover.position}
        alt={title}
        dominantColor={cover.dominantColor}
      />
    ) : (
      <div class="cover placeholder">
        <img
          src={logoSvg.src}
          style={{ aspectRatio: `${logoSvg.width}/${logoSvg.height}` }}
          alt="Queer Coded Logo"
        />
      </div>
    )
  }
  <slot />
</TextCard>

<style lang="scss">
  .cover {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;

    &.placeholder {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 30%;
        height: auto;
      }
    }
  }
</style>
