---
import { isEventInFuture } from "@/helpers/event-date-time";
import type { Event } from "@/types/Event";
import Card from "./Card.astro";
import EventButtons from "./EventButtons.astro";
import EventInfo from "./EventInfo.astro";

interface Props {
  event: Event;
  link?: string;
  showYear?: boolean;
}

const { event, link, showYear } = Astro.props;

const isPastEvent = !isEventInFuture(event);
---

<Card cover={event.cover} title={event.name} link={link}>
  <div class="content">
    <EventInfo {...event} showYear={showYear} />
    {
      !isPastEvent && (
        <div class="buttons">
          <EventButtons {...event} link={link} />
        </div>
      )
    }
  </div>
</Card>

<style lang="scss">
  .content {
    margin-top: 0.5rem;
    text-align: start;

    .buttons {
      margin-top: 0.5rem;

      display: flex;
      justify-content: flex-end;
    }
  }
</style>
